<style>
  .fondo_falso {
    width: 100%;
    height: 100%;
    --background: none;
    background-image:url("../../assets/Fondo_Notificaciones/notifications-outline.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 150px 150px;
    position: relative;
    left: 5px;
    bottom: 100px;
    transform: rotate(30deg);
  }
  #Descripcion_background {
    margin: 0 auto;

    position: absolute;
    right: 0px ;
    left: 0px;
    bottom: 240px;
    font-size: 11px;
  }
  .auditorias {
    margin: 0 auto;
    position: absolute;
    right: 0px ;
    left: 0px;
    bottom: 0px;
  }
  ion-toolbar {
    height: 100%;
    background-color:#ebdabe;
    z-index: 1;
  }
  #linea_blanca {
    padding-top: 10px ;
    margin: 0 auto;
    border-bottom-style: solid;
    border-color: #938977;
    border-width: 5px;
    width: 50%;
    position: absolute;
    right: 0px ;
    left: 0px;
    bottom: 0px;
    --min-height: 0px;
    z-index: 1;
  }
  .bar-footer{
    height:90px;
  }
  /*Tener cuidado en esta vista la que el fondo falso mueve todo hacia abajo fuera de la pantalla revisar antes de descartar un codigo como fallido*/
</style>
<ion-header>
  <ion-toolbar color=base>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content  >
  <ion-item lines="none" class="fondo_falso"></ion-item>
  <ion-label id="Descripcion_background" class="ion-text-center">
    Aún no se ha recibido ninguna notificacion
  </ion-label>
</ion-content>
<ion-footer  class="bar-footer">
  <ion-toolbar color=footer>
    <ion-item  color=footer lines="none" class="auditorias">
      <ion-label color=morado class="pistas_auditorias ion-text-center">Mostrar Pista de Auditoría </ion-label>
    </ion-item>
  </ion-toolbar>
  <ion-item id="linea_blanca"></ion-item>
</ion-footer>


