<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-tabs>

      <ion-tab-bar slot="bottom" color="dark">
        <ion-tab-button href="/tab5">
          <ion-icon name="cloud-upload-outline"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-tab-button>
    
        <ion-tab-button href="/tab6">
          <ion-icon name="cloud-outline"></ion-icon>
          <ion-label>Nube</ion-label>
        </ion-tab-button>
    
        <ion-tab-button href="/calendario">
          <ion-icon name="calendar-outline"></ion-icon>
          <ion-label>Calendario</ion-label>
        </ion-tab-button>
    
        <ion-tab-button href="/tab8">
          <ion-icon name="file-tray-outline"></ion-icon>
          <ion-label>Mensajes</ion-label>
        </ion-tab-button>
    
      </ion-tab-bar>
    
    </ion-tabs>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-fab horizontal="end" vertical="center" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  </ion-content>









<ion-tabs>

  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button href="/tab1">
      <ion-icon name="trash-outline"></ion-icon>
      <ion-label class="footer_labels" >Papelera</ion-label>
    </ion-tab-button>

    <ion-tab-button href="/buscador">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label class="footer_labels" >Lupa PDF</ion-label>
    </ion-tab-button>

    <ion-tab-button href="/tab3">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label class="footer_labels" >Notificaciones</ion-label>
    </ion-tab-button>

    <ion-tab-button href="/tab4">
      <ion-icon name="menu-outline"></ion-icon>
      <ion-label class="footer_labels">Menu</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
