.Fecha {
    background-color: #422d82;
    height: 50px;
}

.label_text_fecha {
    position: relative;
    top:10px;
    color:white;
    font-size: 16px;
}

.add_button {
    --box-shadow:none !important;
}

.add_button_color {
    color:white;
}

.footer_labels {
    font-size: 9px;
}

